.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #000 } 
.back{
	background-image: url(../image/large.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.3
    alpha(opacity:50);
}
.divback{
	padding: 10% 15%;
}
.div{
	background-color: blue;
	opacity: 0.3;
	padding: 2%
	margin:0%;
}
.padding{
	padding-bottom: 4%;
}
.icon{
	border-radius: 50%;
	padding: 9%;
	border:1px solid gray;
}
.left{
	padding-left: 50%;
}
.caja{
	padding: 3%;
}
